<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1>PrimeNG autocomplete</h1>
        <p-autoComplete [(ngModel)]="brand" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)" [size]="30"
            [minLength]="1" placeholder="Hint: type 'v' or 'f'" [dropdown]="true">
            <div>{{brand}}</div>
        </p-autoComplete>
        <span>Brand: {{brand||'none'}}</span>

    </div>
</div>
